{% extends 'navigation.html' %}
{% block content %}
<div class="col-md-12">
    <div class="row">
        <div class="col-md-12" style="text-align: center; padding: 1em; font-weight: 600; font-size: 26px;">
            <h3>Post Your Property Advertisement</h3>
        </div>
        <div class="col-md-3">
            <div class="" style="background-color: #f5f5f5;padding: 20px 30px 40px; margin-top: 2em;">
                <h4 style="font-size: 18px;">Why Post through us?</h4>
                <div class="" style="display: flex; justify-content:space-around; padding: 0.5em;">
                    <img src="/static/images/Zero_Brokerage.svg">
                    <p>Flexible Brokerage</p>
                </div>
                <div class="" style="display: flex; justify-content:space-around; padding: 0.5em; text-align: left;">
                    <img src="/static/images/Tenant.svg">
                    <p>Faster Tenants</p>
                </div>
                <div class="" style="display: flex; justify-content:space-around; padding: 0.5em; text-align: left;">
                    <img src="/static/images/tenant_buyer_connections.svg">
                    <p>Verifyied Properties</p>
                </div>
            </div>
            <div style="margin-top: 1em;">
                <a href="/new-post-form/" class="btn btn-danger btn-block">Post New Property</a>
            </div>
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-6">
                    <div class="div-card" style="box-shadow: 0 3px 6px rgba(0,0,0,.0784314);padding:1em;border-bottom: 1px solid #ccc; width: 70%; margin-top: 2em;">
                        <div>
                            <img src="/static/images/k.jpg" style="max-width: 100%; width: 100%;">
                        </div>
                        <div>
                            <p style="font-size: 16px; display: flex; margin-top: 0.5em; etter-spacing: .2px;
                            margin-bottom: 2px;
                            font-weight: 600;">3 BHK For Sale in WHITFIELD EPIP ZONE</p>
                        </div>
                        <div>
                            <p style="color: grey;
                            letter-spacing: .2px;
                            line-height: 14px;
                            margin-top: 4px;font-size: 12px;">WHITFIELD EPIP ZONE</p>
                        </div>
                        <div>
                            <p style="font-weight: 600;font-size: 16px;">₹5.00 Lac</p>
                        </div>
                        <div class="" style="display: flex;">
                            <button class="btn btn-danger btn-md" style="width: 30%;">Edit</button>
                            <button class="btn btn-info btn-md" style="width: 60%;">Activate</button>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="div-card" style="box-shadow: 0 3px 6px rgba(0,0,0,.0784314);padding:1em;border-bottom: 1px solid #ccc; width: 70%; margin-top: 2em;">
                        <div>
                            <img src="/static/images/k.jpg" style="max-width: 100%; width: 100%;">
                        </div>
                        <div>
                            <p style="font-size: 16px; display: flex; margin-top: 0.5em; etter-spacing: .2px;
                            margin-bottom: 2px;
                            font-weight: 600;">3 BHK For Sale in WHITFIELD EPIP ZONE</p>
                        </div>
                        <div>
                            <p style="color: grey;
                            letter-spacing: .2px;
                            line-height: 14px;
                            margin-top: 4px;font-size: 12px;">WHITFIELD EPIP ZONE</p>
                        </div>
                        <div>
                            <p style="font-weight: 600;font-size: 16px;">₹5.00 Lac</p>
                        </div>
                        <div class="" style="display: flex;">
                            <button class="btn btn-danger btn-md" style="width: 30%;">Edit</button>
                            <button class="btn btn-info btn-md" style="width: 60%;">Activate</button>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="div-card" style="box-shadow: 0 3px 6px rgba(0,0,0,.0784314);padding:1em;border-bottom: 1px solid #ccc; width: 70%; margin-top: 2em;">
                        <div>
                            <img src="/static/images/k.jpg" style="max-width: 100%; width: 100%;">
                        </div>
                        <div>
                            <p style="font-size: 16px; display: flex; margin-top: 0.5em; letter-spacing: .2px;
                            margin-bottom: 2px;
                            font-weight: 600;">3 BHK For Sale in WHITFIELD EPIP ZONE</p>
                        </div>
                        <div>
                            <p style="color: grey;
                            letter-spacing: .2px;
                            line-height: 14px;
                            margin-top: 4px;font-size: 12px;">WHITFIELD EPIP ZONE</p>
                        </div>
                        <div>
                            <p style="font-weight: 600;font-size: 16px;">₹5.00 Lac</p>
                        </div>
                        <div class="" style="display: flex;">
                            <button class="btn btn-danger btn-md" style="width: 30%;">Edit</button>
                            <button class="btn btn-info btn-md" style="width: 60%;">Activate</button>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
{% endblock %}